<html class='no-js' lang=''>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='x-ua-compatible' content='ie=edge' />
    <title>Untitled</title>
    <meta name='description' content='' />
    <meta name='viewport' content='width=device-width, initial-scale=1' />

    <link rel='apple-touch-icon' href='/apple-touch-icon.png' />
    <!-- Place favicon.ico in the root directory -->
    <script src='https://accounts.google.com/gsi/client' async defer></script>
  </head>
  <body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">
            You are using an <strong>outdated</strong> browser. Please
            <a href="http://browsehappy.com/">upgrade your browser</a> to improve
            your experience.
            </p>
        <![endif]-->
    <div
      id='g_id_onload'
      data-client_id='{{googleClientId}}'
      data-context='use'
      data-ux_mode='redirect'
      data-login_uri='http://localhost:3000/auth/google/callback'
      data-nonce=''
      data-auto_prompt='false'
    >
    </div>

    <div
      class='g_id_signin'
      data-type='standard'
      data-shape='rectangular'
      data-theme='outline'
      data-text='signin_with'
      data-size='large'
      data-logo_alignment='left'
    >
    </div>
  </body>
</html>